@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 49 130 246;
    --color-success: 0 196 113;
    --color-warning: 255 149 0;
    --color-danger: 255 59 48;
  }

  body {
    font-family:
      "Pretendard Variable",
      Pretendard,
      -apple-system,
      BlinkMacSystemFont,
      system-ui,
      Roboto,
      "Helvetica Neue",
      "Segoe UI",
      "Apple SD Gothic Neo",
      "Noto Sans KR",
      "Malgun Gothic",
      "Apple Color Emoji",
      "Segoe UI Emoji",
      "Segoe UI Symbol",
      sans-serif;
    word-break: keep-all;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
